.tab-row{
    border-bottom: 2px solid #e0c6fd;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.img-border{
     border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}